<?xml version="1.0"?>
<model>
  <name>Mast</name>
  <version>0.1.0</version>
  <sdf version='1.6'>model.sdf</sdf>
  <author>
   <name>Ashwin Shenai</name>
   <email>ashwins@iitk.ac.in</email>
  </author>
  <description>
    The main mast on which the communications module attach.
  </description>
</model>
