<?xml version="1.0" ?>
<model>
  <name>Table</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>
  <author>
    <name>Kshitij Kabeer</name>
    <email>kabeer@iitk.ac.in</email>
  </author>
  <description>
    The table to be used as the simulated ship, with all the required components.
  </description>
</model>
