<?xml version="1.0"?>
<model>
    <name>Grabber</name>
    <version>0.1.0</version>
    <sdf version='1.6'>model.sdf</sdf>
    <author>
        <name>Varun Khatri</name>
        <email>varunk@iitk.ac.in</email>
    </author>
    <description>
        Grabber to be attatched in front of gripper to hold the comm module.
    </description>
</model>
