<?xml version="1.0"?>


<robot name="$(arg mav_name)" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="custom_wind_field_macro"
    params="namespace xyz_offset wind_direction wind_force_mean wind_gust_direction wind_gust_duration
            wind_gust_start wind_gust_force_mean wind_speed_mean use_custom_static_wind_field custom_wind_field_path">

    </xacro:macro>

</robot>

