<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="gazebo_wind_plugin_macro" params="namespace">
    <gazebo>
      <plugin name="wind_plugin" filename="libiarc_wind_plugin.so">
        <namespace>${namespace}</namespace>
        <linkName>${namespace}/base_link</linkName>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>